<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>HomePage.html</welcome-file>
    </welcome-file-list>
    <!--<servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>controller.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpValidator</servlet-name>
        <servlet-class>controller.SignUpValidator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServletValidater1</servlet-name>
        <servlet-class>controller.LoginServletValidater1</servlet-class>
    </servlet>
    <!--<servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpValidator</servlet-name>
        <url-pattern>/SignUpValidator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServletValidater1</servlet-name>
        <url-pattern>/LoginServletValidater1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
